Repository cc65/cc65, pull requests merged in 2022-10, with the labels that each got.

#1863 [cc65] Fixed symbol visibility and usage problems with extern/static declarations
  src/cc65/locals.c
  src/cc65/symentry.h
  src/cc65/symtab.c
  test/val/extern.c
Labels: bug, cc65

#1857 [cc65] Improved preprocessor
  src/cc65/input.c
  src/cc65/input.h
  src/cc65/macrotab.c
  src/cc65/macrotab.h
  src/cc65/preproc.c
  src/cc65/scanner.c
  src/cc65/scanner.h
Labels: enhancement, cc65

#1867 [cc65] Diagnostics improvements
  src/cc65/error.c
  src/cc65/error.h
  src/cc65/global.c
  src/cc65/global.h
  src/cc65/pragma.c
  src/cc65/preproc.c
  src/cc65/symtab.c
Labels: enhancement, cc65

#1868 [cc65] Fixed and improved C preprocessor
  src/cc65/input.c
  src/cc65/input.h
  src/cc65/preproc.c
Labels: bug, cc65

#1876 Emit warning for signed integer constant overflow
  src/cc65/expr.c
  src/cc65/expr.h
  src/cc65/shiftexpr.c
Labels: enhancement, cc65

#1878 Speed up sim65 by 10%
  src/sim65/memory.c
  src/sim65/memory.h
Labels: enhancement, sim65
