Repository cc65/cc65, pull requests merged in 2022-04, with the labels that each got.

#1716 [Tentative: please review] Fix Gamate CONIO: non-solid characters bug
  libsrc/gamate/cputc.s
Labels: bug, libs

#1715 [atari7800] conio
  asminc/atari7800.inc
  cfg/atari7800.cfg
  include/atari7800.h
  libsrc/atari7800/clrscr.s
  libsrc/atari7800/conio.s
  libsrc/atari7800/conio_font.s
  libsrc/atari7800/cputc.s
  libsrc/atari7800/extra/mono.s
  libsrc/atari7800/extzp.inc
  libsrc/atari7800/extzp.s
  libsrc/atari7800/mono_clrscr.s
  libsrc/atari7800/mono_conio.s
  libsrc/atari7800/mono_cputc.s
  libsrc/atari7800/mono_font.s
  libsrc/atari7800/mono_setcursor.s
  libsrc/atari7800/setcursor.s
  libsrc/atari7800/textcolor.s
  libsrc/atari7800/wherex.s
  libsrc/atari7800/wherey.s
Labels: enhancement, libs

#1731 build: properly quote strings passed as cpp macros
  src/Makefile
  src/ca65/incpath.c
  src/cc65/incpath.c
  src/cl65/main.c
  src/common/searchpath.h
  src/common/version.c
  src/ld65/filepath.c
Labels: bug, buildsystem

#1724 Constexpr
  src/ca65/expr.h
  src/ca65/segment.c
  src/ca65/studyexpr.c
  test/asm/Makefile
  test/asm/err/Makefile
  test/asm/err/bug1538-1.s
  test/asm/readme.txt
  test/asm/val/Makefile
  test/asm/val/bug1538.s
  test/asm/val/sim6502-asmtest.cfg
Labels: bug, ca65
