Repository cc65/cc65, pull requests merged in 2022-11, with the labels that each got.

#1885 Allow specifying range end as a size
  doc/da65.sgml
  src/da65/infofile.c
  src/da65/scanner.c
  src/da65/scanner.h
Labels: enhancement, da65

#1896 [cc65] Fixed diagnostic messages on enumerator overflow
  src/cc65/declare.c
  test/err/bug1890.c
Labels: bug, cc65

#1898 [cc65] Fixed '\\' + newline
  src/cc65/input.c
  src/cc65/preproc.c
  src/cc65/preproc.h
  test/val/bug1891.c
Labels: bug, cc65

#1897 [cc65] Fixed errors in the conditional operator "? :" parser
  src/cc65/expr.c
  src/cc65/ppexpr.c
  test/err/bug1893.c
Labels: bug, cc65

#1879 [cc65] SymEntry cleanups
  src/cc65/compile.c
  src/cc65/datatype.c
  src/cc65/datatype.h
  src/cc65/declare.c
  src/cc65/expr.c
  src/cc65/function.c
  src/cc65/initdata.c
  src/cc65/symentry.c
  src/cc65/symentry.h
  src/cc65/symtab.c
  src/cc65/symtab.h
  src/cc65/typecmp.c
Labels: cc65, cleanup

#1881 [cc65] Organized ExprDesc functions and fixed several comments
  src/cc65/exprdesc.c
  src/cc65/exprdesc.h
Labels: cc65, cleanup

#1906 [cc65] Renamed several tests
  test/val/decl-extern-shadow.c
  test/val/decl-static-extern.c
  test/val/decl-static-fwd.c
Labels: Testbench, cleanup

#1905 [cc65] Fixed some missing declaration features
  src/cc65/compile.c
  src/cc65/declare.c
  src/cc65/declare.h
  src/cc65/expr.c
  src/cc65/locals.c
  test/misc/int-static-1888.c
  test/val/decl-mixed-specifiers.c
  test/val/staticassert.c
Labels: bug, cc65

#1907 [cc65] Renamed some misleading functions relevent with input file info
  src/cc65/error.c
  src/cc65/input.c
  src/cc65/input.h
  src/cc65/locals.c
  src/cc65/preproc.c
  src/cc65/symtab.c
Labels: cc65, cleanup

#1908 cmd.exe related tweaks
  .github/checks/Makefile
  samples/Makefile
  targettest/Makefile
  targettest/pce/Makefile
  test/asm/listing/Makefile
Labels: bug, buildsystem

#1900 [cc65] Fixed endlessly repeated error messages when a declaration lacks a required identifier
  src/cc65/declare.c
  test/misc/Makefile
  test/misc/bug1889-missing-identifier.c
  test/misc/bug1889-missing-identifier.ref
Labels: bug, cc65

#1910 [cc65] Renamed a few functions and struct used for declaration parser
  src/cc65/compile.c
  src/cc65/declare.c
  src/cc65/declare.h
  src/cc65/declattr.c
  src/cc65/declattr.h
  src/cc65/expr.c
  src/cc65/initdata.c
  src/cc65/locals.c
  src/cc65/symentry.c
  src/cc65/symentry.h
Labels: cc65, cleanup

#1911 [cc65] Organized type-related stuff better
  src/cc65/datatype.c
  src/cc65/datatype.h
  src/cc65/expr.c
  src/cc65/expr.h
  src/cc65/function.c
  src/cc65/loadexpr.c
Labels: cc65, cleanup

#1917 [cc65] Clearer comments on and usage of code generator flags with type conversions in the primary register
  src/cc65/codegen.c
  src/cc65/codegen.h
Labels: cc65, cleanup

#1899 [cc65] Fixed compatibility checks on "pointer to pointer" vs "pointer to array" etc.
  src/cc65/typecmp.c
  test/err/bug1895-assign1a.c
  test/err/bug1895-assign1b.c
  test/err/bug1895-assign2a.c
  test/err/bug1895-assign2b.c
  test/err/bug1895-assign4a.c
  test/err/bug1895-assign4b.c
  test/err/bug1895-assign5a.c
  test/err/bug1895-assign5b.c
  test/err/bug1895-common.h
  test/err/bug1895-cond1.c
  test/err/bug1895-cond2.c
  test/err/bug1895-cond3.c
  test/err/bug1895-cond4.c
  test/err/bug1895-cond5.c
  test/err/bug1895-prototype1.c
  test/err/bug1895-prototype2.c
  test/err/bug1895-prototype3.c
  test/err/bug1895-prototype4.c
  test/err/bug1895-prototype5.c
Labels: bug, cc65

#1918 [cc65] Fixed bitwise-shift in preprocessor
  src/cc65/ppexpr.c
  test/val/ppshift.c
Labels: bug, cc65

#1913 [cc65] Improved diagnostics on div-by-zero/bitwise-shift in unevaluated context and overall
  src/cc65/assignment.c
  src/cc65/datatype.c
  src/cc65/datatype.h
  src/cc65/expr.c
  src/cc65/ppexpr.c
  src/cc65/shiftexpr.c
  test/misc/Makefile
  test/misc/bug1768.c
Labels: bug, cc65

#1927 Character defines for osic1p target
  include/osic1p.h
  targettest/conio.c
Labels: enhancement, Samples
