Repository cc65/cc65, pull requests merged in 2022-03, with the labels that each got.

#1691 [cc65] Fixed OptCmp1 with certain code patterns with labels.
  src/cc65/coptcmp.c
  test/val/bug1690.c
Labels: bug, cc65

#1675 [cc65] Fixed bitwise shift with numeric constant operand(s)
  src/cc65/expr.c
  src/cc65/shiftexpr.c
  test/val/bug1675-ub.c
  test/val/bug1675.c
Labels: bug, cc65, Test needed

#1697 [cc65] Long cmp unsigned fix
  src/cc65/expr.c
  test/val/bug1696.c
Labels: bug, cc65

#1686 Mark index 0 as TRANSPARENT. Let palette start from index 1
  include/lynx.h
  libsrc/lynx/tgi/lynx-160-102-16.s
  libsrc/lynx/tgi_colors.s
Labels: bug, libs

#1699 Added Sym-1 extended memory sample program and documentation
  doc/sym1.sgml
  samples/sym1/Makefile
  samples/sym1/symExtendedMemory.c
Labels: enhancement, Samples

#1560 Add --debug-tables <filename> option and output struct fields
  doc/cc65.sgml
  src/cc65/global.c
  src/cc65/global.h
  src/cc65/main.c
  src/cc65/symtab.c
Labels: enhancement, need info / extra work, cc65
