Repository cc65/cc65, pull requests merged in 2022-05, with the labels that each got.

#1729 [Telestrat] missing fd_management and cleaning
  asminc/telestrat.inc
  libsrc/telestrat/close.s
  libsrc/telestrat/read.s
  libsrc/telestrat/write.s
Labels: enhancement, libs

#1718 Some clean-up
  util/gamate/gamate-fixcart.c
Labels: misc tools, cleanup

#1676 smarter manufacturer
  libsrc/lynx/exehdr.s
Labels: enhancement, need info / extra work, libs

#1745 Fix set but unused variable
  src/cc65/codeopt.c
Labels: cc65, cleanup
