Repository cc65/cc65, pull requests merged in 2023-02, with the labels that each got.

#1983 fix for #1941
  src/cc65/shiftexpr.c
  test/val/bug1941-shift-by-zero.c
Labels: bug, cc65

#1996 ld65 error if computed memory size is negative
  src/ld65/config.c
  test/dasm/Makefile
Labels: bug, ld65

#2000 Document expected linker configuration and special segments used by cc65
  doc/cc65-intern.sgml
  doc/index.sgml
Labels: enhancement, documentation

#1997 ca65 doc for A8/A18/I8/I16: use "assume" instead of "switch" to avoid implying that a hardware state is changed
  doc/ca65.sgml
Labels: documentation, cleanup

#1992 OptStackOps label migration fix
  src/cc65/coptstop.c
  test/val/bug1989.c
Labels: bug, cc65

#1998 ca65 improve error for unclosed scopes
  src/ca65/symtab.c
Labels: bug, ca65

#2003 supress spurious "large alignment" warnings
  doc/ca65.sgml
  src/ca65/segment.c
  src/ld65/segments.c
Labels: bug, ld65

#2001 ca65 jsr/jmp/rts will not promote to jsl/jml/rtl by default, new feature long_jsr_jmp_rts to re-enable this ability
  doc/ca65.sgml
  src/ca65/feature.c
  src/ca65/feature.h
  src/ca65/global.c
  src/ca65/global.h
  src/ca65/instr.c
  test/dasm/65816.info
  test/dasm/test65816.s
Labels: bug, ca65

#1995 ld65 fix overwrite segments adding wrong padding or causing internal errors
  src/ld65/bin.c
  src/ld65/config.c
Labels: bug, ld65
