Repository cc65/cc65, pull requests merged in 2023-05, with the labels that each got.

#2027 ca65 jmp (abs) wrap warning only applies to 6502, later CPUs do not have this bug
  src/ca65/instr.c
Labels: bug, ca65

#2076 Don't use a,x,y in macro parameter example, document why not.
  doc/ca65.sgml
Labels: enhancement, documentation

#2072 Forbid 3-byte struct pass/return by value, document struct value pass/return
  doc/cc65.sgml
  src/cc65/datatype.c
  test/val/struct-by-value.c
Labels: bug, cc65, documentation

#2074 Explicit z: should suppress "Suspicious address expression" warning
  src/ca65/ea.h
  src/ca65/ea65.c
  src/ca65/instr.c
Labels: bug, ca65

#2080 Revert "Forbid 3-byte struct pass/return by value, document struct value pass/return"
  doc/cc65.sgml
  src/cc65/datatype.c
  test/val/struct-by-value.c
Labels: bug, cc65

#2071 bug895.c compliant token pasting syntax to remove warnings
  test/val/bug895.c
Labels: bug, cc65

#2082 Revert "Revert "Forbid 3-byte struct pass/return by value, document struct value pass/return""
  doc/cc65.sgml
  src/cc65/datatype.c
  test/val/struct-by-value.c
Labels: bug, cc65

#2083 Improve struct size error message to include the detected size
  src/cc65/function.c
Labels: enhancement, cc65

#2081 ca65: Suppress '.size' error for multiply-defined symbols
  src/ca65/main.c
Labels: bug, ca65

#2075 Error for struct/union with a duplicate member
  src/cc65/symtab.c
  test/err/struct-duplicate-member.c
Labels: bug, cc65

#2091 test/todo makefile uses testwrk/val by mistake
  test/todo/Makefile
Labels: bug, buildsystem

#2088 guard test to ensure 3-byte struct isn't re-enabled without evaluation by accident
  test/misc/Makefile
  test/misc/struct-by-value.c
Labels: enhancement, Testbench

#2090 add test/standard to test makefile
  test/Makefile
Labels: bug, Testbench

#2097 Add support for 48x12 video mode on Challenger 1P
  doc/osi.sgml
  libsrc/osic1p/extra/screen-c1p-48x12.s
Labels: enhancement, libs

#2100 libtest target alternative to lib
  Makefile
  libsrc/Makefile
  test/readme.txt
Labels: enhancement, buildsystem

#2094 More specific git commit error suppression in doc upload
  .github/workflows/snapshot-on-push-master.yml
Labels: bug, buildsystem

#2098 grc65 fix flawed text parsing
  src/grc65/main.c
Labels: bug, grc65

#2099 sim65 fix platform-dependent issues
  src/sim65/main.c
  src/sim65/paravirt.c
  test/asm/val/Makefile
  test/standard/Makefile
  test/val/Makefile
Labels: bug, sim65

#2101 workflow for manually dispatched Windows build and test
  .github/workflows/build-on-pull-request.yml
  .github/workflows/snapshot-on-push-master.yml
  .github/workflows/windows-test-manual.yml
Labels: enhancement, buildsystem

#2084 Numerical constant errors and improvements (integer)
  doc/cc65.sgml
  src/cc65/error.c
  src/cc65/error.h
  src/cc65/scanner.c
  src/cc65/typeconv.c
  test/err/huge-integer-constant.c
  test/err/integer-const-overflow.c
  test/val/common.h
  test/val/cq241.c
Labels: bug, cc65, Test needed

#2096 Bugfix for the .ISMNEMONIC, .ISMNEM builtin function
  src/ca65/expr.c
  test/asm/val/ismnemonic.s
Labels: bug, ca65

#2069 Source listing in bootstrap.s is incorrect.
  libsrc/osic1p/bootstrap.s
Labels: bug, libs

#2093 Workflow docs artifact and snapshot
  .github/workflows/build-on-pull-request.yml
  .github/workflows/snapshot-on-push-master.yml
Labels: enhancement, buildsystem

#2107 Fixed comments for Atari OS memory location
  include/_atarios.h
Labels: libs, cleanup, Atari

#2112 Error/warning for extern/static linkage declaration conflict
  src/cc65/symtab.c
  test/val/decl-static-extern.c
Labels: enhancement, cc65

#2108 Scheduled windows build/test and cmd.exe subshell
  .github/workflows/build-on-pull-request.yml
  .github/workflows/snapshot-on-push-master.yml
  .github/workflows/windows-test-manual.yml
  .github/workflows/windows-test-scheduled.yml
  libsrc/Makefile
Labels: enhancement, buildsystem

#2113 Unified NULL #2110
  include/geos/gconst.h
  include/locale.h
  include/stddef.h
  include/stdio.h
  include/stdlib.h
  include/string.h
  include/time.h
  test/val/add4.c
Labels: libs, cleanup

#2120 Fixed typo
  doc/funcref.sgml
Labels: documentation, cleanup

#2104 ca65: Remove .feature requirement for .addrsize
  doc/ca65.sgml
  src/ca65/feature.c
  src/ca65/global.c
  src/ca65/global.h
  src/ca65/pseudo.c
  src/ca65/scanner.c
  test/asm/val/addrsize.s
  test/asm/val/feature.s
Labels: ca65, cleanup

#2124 Fix computed length for read and write for telestrat target
  libsrc/telestrat/read.s
  libsrc/telestrat/write.s
Labels: bug, libs, Telestrat
