Repository cc65/cc65, pull requests merged in 2023-10, with the labels that each got.

#2204 General project fixes and quality of life improvements
  .editorconfig
  src/cc65.props
  src/msbuild.cmd
Labels: buildsystem, cleanup

#2201 [cc65] Improved diagnostics
  src/cc65/compile.c
  src/cc65/declare.c
  src/cc65/declare.h
  src/cc65/expr.c
  test/ref/bug1889-missing-identifier.cref
Labels: enhancement, cc65

#2200 [cc65] Fixed compound initialization with certain omitted enclosing curly braces
  src/cc65/initdata.c
  test/val/bug2135.c
Labels: bug, cc65

#2199 [cc65] Forbidden struct itself with flexible array member as struct member or array element
  src/cc65/declare.c
  test/err/bug2016-fam-member.c
  test/err/bug2017-fam-element.c
Labels: bug, cc65

#2215 [cc65] Added check for total arguments size for variadic functions
  src/cc65/expr.c
  test/err/bug2144.c
Labels: bug, cc65

#2216 [cc65] Type category in a function definition cannot be inherited from a typedef
  src/cc65/compile.c
  test/err/bug2020-definition.c
  test/val/bug2020-ok.c
Labels: bug, cc65

#2223 Reverted EOL settings (LF vs CRLF) for Visual Studio
  .editorconfig
Labels: bug, buildsystem

#1799 [cc65] Post-inc/post-dec won't affect __A__/__AX__/__EAX__ in the same statement
  src/cc65.vcxproj
  src/cc65/expr.c
  src/cc65/expr.h
  src/cc65/goto.c
  src/cc65/initdata.c
  src/cc65/locals.c
  src/cc65/seqpoint.c
  src/cc65/seqpoint.h
  src/cc65/stdfunc.c
  src/cc65/stmt.c
  src/cc65/testexpr.c
  test/val/inline-asm-1489.c
Labels: regression, need info / extra work, cc65

#2224 [cc65] Made functions in src/cc65/declare.c less confusing
  src/cc65/declare.c
  src/cc65/declare.h
  src/cc65/expr.c
Labels: cc65, cleanup

#2219 Apple2: Better check for 6551
  libsrc/apple2/ser/a2.ssc.s
Labels: enhancement, libs, Apple 2

#2226 [cc65] Pragma fixes
  doc/cc65.sgml
  src/cc65/asmstmt.c
  src/cc65/compile.c
  src/cc65/expr.c
  src/cc65/initdata.c
  src/cc65/litpool.c
  src/cc65/litpool.h
  src/cc65/pragma.c
  src/cc65/pragma.h
  src/cc65/scanner.c
  src/cc65/scanner.h
  src/cc65/staticassert.c
  src/cc65/stmt.c
  test/val/bug2151.c
Labels: bug, cc65

#2233 [cc65] Fixed array subscript with a bit-field with patch by kugelfuhr
  src/cc65/expr.c
  test/val/bug2186.c
Labels: bug, cc65

#2240 [cc65] New TOS optimization steps for 8-bit subtraction and bitwise operations
  src/cc65/coptstop.c
Labels: enhancement, cc65

#2234 [cc65] Minor fix for error recovery from duplicated struct members
  src/cc65/symtab.c
Labels: bug, cc65

#2243 [cc65] Inlined std functions fixes
  src/cc65/exprdesc.c
  src/cc65/exprdesc.h
  src/cc65/stdfunc.c
  test/val/bug2207.c
Labels: bug, cc65

#2245 [cc65] Avoided unnecessary BSS name duplication for tentative global variables
  src/cc65/compile.c
Labels: bug, cc65

#2246 [cc65] Fixes for nested unspecified-length/flexible arrays
  src/cc65/compile.c
  src/cc65/declare.c
  test/err/bug2016-fam-member.c
  test/err/bug2017-fam-element.c
  test/err/zero-size.c
  test/val/fam.c
Labels: bug, cc65

#2236 [cc65] Fixed some type-related bugs which don't have any impact yet
  src/cc65/datatype.c
  src/cc65/datatype.h
  src/cc65/declare.c
Labels: bug, cc65
