Repository cc65/cc65, pull requests merged in 2023-03, with the labels that each got.

#1994 make avail: check for presence of binaries before creating symbolic links
  src/Makefile
Labels: enhancement, buildsystem

#2013 Fix endmacro not at start of line
  doc/ca65.sgml
  src/ca65/macro.c
  test/asm/err/endmacro.s
  test/asm/val/endmacro.s
Labels: bug, ca65

#2009 ca65: allow .feature to both enable and disable
  doc/ca65.sgml
  src/ca65/feature.c
  src/ca65/feature.h
  src/ca65/main.c
  src/ca65/pseudo.c
  test/asm/listing/108-long-rts.s
  test/asm/listing/readme.txt
  test/asm/listing/ref/108-long-rts.bin-ref
  test/asm/val/feature.s
Labels: enhancement, ca65

#2010 optional BRK signature on all 6502 CPUs, not just 65816
  doc/ca65.sgml
  src/ca65/instr.c
  test/asm/listing/109-brk-signature.s
  test/asm/listing/ref/109-brk-signature.bin-ref
Labels: enhancement, ca65

#2007 fix for issue #1973 (printf("%c", '\0') doesn't _write '\0' to fd 0)
  libsrc/common/_printf.s
Labels: bug, libs

#2032 [Telestrat Target] Add fseek to telestrat target (Orix)
  asminc/telestrat.inc
  libsrc/telestrat/lseek.s
Labels: enhancement, libs, Telestrat

#2040 cx16: update RAM constants for ROM ver R42
  asminc/cx16.inc
Labels: libs, CX16

#2037 Fixes and improvements to KIM-1 i/o routines.
  asminc/kim1.inc
  libsrc/kim1/crt0.s
  libsrc/kim1/read.s
  libsrc/kim1/write.s
Labels: libs, KIM-1

#2042 Add Additional KIM-1 Functions
  asminc/kim1.inc
  include/kim1.h
  libsrc/kim1/getkey.s
  libsrc/kim1/scandisplay.s
  samples/kim1/kimKeyDisp.c
Labels: enhancement, libs, Samples, KIM-1
