Repository cc65/cc65, pull requests merged in 2023-12, with the labels that each got.

#2276 [cc65] Fixed diagnostics
  src/cc65/compile.c
  src/cc65/declare.c
  src/cc65/declare.h
  src/cc65/expr.c
Labels: bug, cc65

#2275 [cc65] Fixed constness of bit-fields
  src/cc65/datatype.c
  src/cc65/datatype.h
  src/cc65/symtab.c
  test/err/bug2018-bitfield.c
Labels: bug, cc65

#2274 [cc65] Fixed initialization of union when it has an anonymous bit-field as the first member declaration
  src/cc65/initdata.c
  test/val/bitfield-union.c
Labels: bug, cc65

#2262 Optimize static long assignment a bit
  src/cc65.vcxproj
  src/cc65/codegen.c
  src/cc65/codeopt.c
  src/cc65/coptlong.c
  src/cc65/coptlong.h
  test/val/long.c
  test/val/static-long.c
Labels: enhancement, cc65

#2291 Fix bug introduced in #2260
  src/cc65/codegen.c
  test/val/sub3.c
Labels: bug, cc65

#2290 Updated test/misc/Makefile
  test/misc/Makefile
Labels: buildsystem, Testbench, cleanup

#2289 [cc65] Fixed the issue that qualifiers of pointees of function parameters were ignored for type compatibility check
  src/cc65/typecmp.c
  src/cc65/typecmp.h
  test/err/bug2286-param-qualifier.c
Labels: bug, cc65

#2288 [cc65] Fixed an iteration bug in type composition
  src/cc65/expr.c
  src/cc65/typeconv.c
  test/err/bug2285-composite-type.c
Labels: bug, cc65

#2287 [cc65] Minor diagnostics improvements
  src/cc65/declare.c
  src/cc65/symtab.c
Labels: enhancement, cc65

#2295 Fix #2262: Make sure there's no branching after the sequence
  src/cc65/coptlong.c
Labels: bug, regression, cc65

#2296 [cc65] Fixed and improved diagnostics regarding type names and declarations
  src/cc65/compile.c
  src/cc65/declare.c
  src/cc65/declare.h
  src/cc65/expr.c
  src/cc65/locals.c
  src/cc65/scanner.c
  src/cc65/scanner.h
  src/cc65/staticassert.c
  src/cc65/typeconv.c
  test/err/type-name-extra-identifier.c
  test/ref/bug1889-missing-identifier.cref
Labels: enhancement, cc65

#2298 [cc65] More accurate diagnostic messages on empty declarations without any type specifiers
  src/cc65/declare.c
  src/cc65/expr.c
  test/ref/bug1889-missing-identifier.cref
Labels: enhancement, cc65

#2297 [cc65] Fixed wrapped call when the function was defined before its later declaration gets wrapped with the pragma
  doc/cc65.sgml
  src/cc65/declare.c
  src/cc65/expr.c
  src/cc65/funcdesc.c
  src/cc65/funcdesc.h
  src/cc65/symentry.h
  src/cc65/symtab.c
  test/val/trampoline.c
Labels: bug, cc65

#2305 [cc65] Fixed missing diagnosis on function parameter lists with trailing commas
  src/cc65/declare.c
  test/err/bug2301-trailing-coma-1.c
  test/err/bug2301-trailing-coma-2.c
Labels: bug, cc65

#2299 Apple2: Fix BSS obliteration by mliparam during exec()
  libsrc/apple2/exec.s
Labels: bug, libs, Apple 2

#2318 Added SPRCTL0 and SPRCTL1 bit definitions for ca65
  asminc/lynx.inc
Labels: enhancement, libs, Lynx

#2311 ca65 struct and union documentation improvement and feature testing.
  doc/ca65.sgml
  test/asm/val/struct.s
Labels: enhancement, documentation, Testbench

#2310 second try at fixing win64 build
  .github/workflows/build-on-pull-request.yml
  src/ar65.vcxproj
  src/ca65.vcxproj
  src/cc65.sln
  src/cc65.vcxproj
  src/chrcvt65.vcxproj
  src/cl65.vcxproj
  src/cl65/main.c
  src/co65.vcxproj
  src/common.vcxproj
  src/common/filetype.c
  src/common/filetype.h
  src/da65.vcxproj
  src/grc65.vcxproj
  src/ld65.vcxproj
  src/ld65/main.c
  src/od65.vcxproj
  src/sim65.vcxproj
  src/sp65.vcxproj
Labels: buildsystem, cleanup

#2307 [cc65] Fixed function declarator parser when a parameter has a function type
  src/cc65/compile.c
  src/cc65/declare.c
  test/err/bug2303.c
  test/val/bug2302.c
Labels: bug, cc65

#2309 [cc65] Added warning on static functions that are used but not defined
  src/cc65/compile.c
Labels: bug, cc65

#2314 [cc65] Separated C preprocessor errors from other errors
  src/cc65/error.c
  src/cc65/error.h
  src/cc65/main.c
  test/err/bug2312-pperror-only.c
  test/ref/Makefile
  test/ref/bug2312-preprocessor-error.c
  test/ref/bug2312-preprocessor-error.cref
  test/ref/custom-reference-error.c
  test/ref/custom-reference-error.cref
Labels: bug, cc65
