Repository cc65/cc65, pull requests merged in 2023-01, with the labels that each got.

#1961 Teach da65 about table units
  doc/da65.sgml
  src/da65/attrtab.h
  src/da65/data.c
  src/da65/infofile.c
  src/da65/scanner.h
Labels: enhancement, da65

#1960 [sp65] New feature to extract the palette from the bitmap. Lynx format implemented. #1959
  doc/sp65.sgml
  src/sp65.vcxproj
  src/sp65/lynxpalette.c
  src/sp65/lynxpalette.h
  src/sp65/main.c
  src/sp65/palconv.c
  src/sp65/palconv.h
  src/sp65/pcx.c
Labels: enhancement, sp65

#1939 [cc65] Renamed/added/removed some C type facility and fixed a few comments
  src/cc65/assignment.c
  src/cc65/codeseg.c
  src/cc65/datatype.c
  src/cc65/datatype.h
  src/cc65/declare.c
  src/cc65/expr.c
  src/cc65/function.c
  src/cc65/initdata.c
  src/cc65/stdfunc.c
  src/cc65/swstmt.c
  src/cc65/symtab.c
  src/cc65/typecmp.c
  src/cc65/typeconv.c
Labels: cc65, cleanup

#1955 Add KIM-1 support
  README.md
  asminc/kim1.inc
  cfg/kim1-60k.cfg
  cfg/kim1.cfg
  doc/index.sgml
  doc/kim1.sgml
  include/kim1.h
  libsrc/Makefile
  libsrc/kim1/crt0.s
  libsrc/kim1/ctype.s
  libsrc/kim1/read.s
  libsrc/kim1/tapeio.s
  libsrc/kim1/write.s
  samples/Makefile
  samples/kim1/Makefile
  samples/kim1/kimHello.c
  samples/kim1/kimSieve.c
  src/ca65/main.c
  src/cc65/main.c
  src/common/target.c
  src/common/target.h
  targettest/Makefile
Labels: enhancement, libs, documentation, Samples, KIM-1

#1965 Wrong file "geover.cvt"
  samples/geos/Makefile
Labels: bug, buildsystem, Samples

#1971 Create disk of GEOS samples
  samples/geos/Makefile
Labels: enhancement, buildsystem, Samples

#1975 add documentation for _sound.
  doc/atari.sgml
  doc/funcref.sgml
Labels: enhancement, documentation, Atari

#1968 Allow line_bynumber to return more than one result
  src/dbginfo/dbginfo.c
  src/dbginfo/dbginfo.h
Labels: enhancement, cc65

#1980 fixed spelling mistake
  src/cc65/typeconv.c
Labels: cc65, cleanup
