Repository cc65/cc65, pull requests merged in 2023-11, with the labels that each got.

#2248 [cc65] Improved function return type check
  src/cc65/declare.c
  src/cc65/function.c
  src/cc65/stmt.c
Labels: bug, cc65

#2244 Apple2 SSC: Implement no flow control
  libsrc/apple2/ser/a2.ssc.s
Labels: enhancement, libs, Apple 2

#2255 Fixed typo
  doc/smc.sgml
Labels: documentation, cleanup

#2254 Upload 64-bit Windows snapshot to Sourceforge
  .github/workflows/snapshot-on-push-master.yml
  README.md
Labels: enhancement, buildsystem

#2252 Optimize multiplication by zero
  src/cc65/codegen.c
  test/val/mult1.c
Labels: enhancement, cc65

#2263 Fix typo
  doc/sim65.sgml
Labels: documentation, cleanup

#2264 Fix typos; other copyediting
  doc/da65.sgml
Labels: documentation, cleanup

#2267 [cc65] Removed extra "'}' expected" error message
  src/cc65/initdata.c
Labels: bug, cc65

#2265 [cc65] Enabled implicit "return 0" in C99 standard main function in default cc65 mode
  src/cc65/function.c
  test/ref/custom-reference-error.c
  test/ref/custom-reference.c
  test/ref/custom-reference.cref
Labels: bug, cc65

#2269 Optimize unsigned int and long > 255
  src/cc65/codegen.c
  test/val/compare8.c
Labels: enhancement, cc65

#2260 Optimize integer decrements by 1
  src/cc65/codegen.c
  src/cc65/codeopt.c
  src/cc65/coptind.c
  src/cc65/coptind.h
  test/val/sub3.c
Labels: enhancement, cc65

#2266 [cc65] Fixes for structs/unions
  src/cc65/assignment.c
  src/cc65/declare.c
  src/cc65/symentry.h
  test/err/bug2018.c
  test/val/bug2018-ok.c
Labels: bug, cc65

#2271 [cc65] Fixed assertion failure when there is an undeclared symbol used in a parameter list
  src/cc65/declare.c
  src/cc65/symtab.c
  src/cc65/symtab.h
Labels: bug, cc65

#2272 [cc65] Improved diagnostics
  src/cc65/asmstmt.c
  src/cc65/compile.c
  src/cc65/declare.c
  src/cc65/declare.h
  src/cc65/error.c
  src/cc65/expr.c
  src/cc65/symtab.c
  test/ref/bug1889-missing-identifier.cref
  test/ref/custom-reference-error.cref
Labels: bug, cc65
