Repository cc65/cc65, pull requests merged in 2023-09, with the labels that each got.

#2170 Build libs with debug symbols
  libsrc/Makefile
Labels: enhancement, libs

#2163 INIT segment definitions should be consistent, and bss is the appropriate semantic type
  cfg/apple2-hgr.cfg
  cfg/apple2-overlay.cfg
  cfg/apple2-system.cfg
  cfg/apple2.cfg
  cfg/apple2enh-hgr.cfg
  cfg/apple2enh-overlay.cfg
  cfg/apple2enh-system.cfg
  cfg/apple2enh.cfg
  cfg/atari-overlay.cfg
  cfg/atari-xex.cfg
  cfg/atari.cfg
  cfg/atarixl-largehimem.cfg
  cfg/atarixl-overlay.cfg
  cfg/atarixl-xex.cfg
  cfg/atarixl.cfg
  cfg/atmos.cfg
  cfg/c64-overlay.cfg
  cfg/c64.cfg
  cfg/creativision.cfg
  cfg/cx16-bank.cfg
  cfg/cx16.cfg
  cfg/telestrat.cfg
  libsrc/creativision/cputc.s
Labels: libs, cleanup

#2174 Conio: 65c02 optimisations
  libsrc/apple2/cputc.s
  libsrc/conio/cputs.s
  libsrc/conio/vcprintf.s
Labels: enhancement, libs

#2181 change INIT back to rw for configurations that needed it
  cfg/apple2-hgr.cfg
  cfg/apple2-overlay.cfg
  cfg/apple2-system.cfg
  cfg/apple2.cfg
  cfg/apple2enh-hgr.cfg
  cfg/apple2enh-overlay.cfg
  cfg/apple2enh-system.cfg
  cfg/apple2enh.cfg
  cfg/atmos.cfg
  cfg/c64-overlay.cfg
  cfg/c64.cfg
  cfg/cx16-bank.cfg
  cfg/cx16.cfg
  cfg/telestrat.cfg
Labels: bug, regression, libs

#2180 Added missing detail
  doc/apple2enh.sgml
Labels: documentation, cleanup

#2183 Update README.md
  README.md
Labels: documentation, cleanup

#2006 jmp (abs) wrap warning promoted to an error, suppressed on 65C02/etc
  doc/ca65.sgml
  src/ca65/instr.c
  test/asm/err/jmp-indirect-6502-error.s
  test/asm/val/jmp-indirect-success.s
Labels: enhancement, ca65, ld65

#2166 Possible serial driver optimisations
  libsrc/apple2/ser/a2.ssc.s
  libsrc/atmos/ser/atmos-acia.s
  libsrc/c128/ser/c128-swlink.s
  libsrc/c64/ser/c64-swlink.s
  libsrc/cbm510/ser/cbm510-std.s
  libsrc/cbm610/ser/cbm610-std.s
  libsrc/plus4/ser/plus4-stdser.s
Labels: enhancement, libs, Apple 2

#2182 Add ntohs/htons and ntohl/htonl
  doc/funcref.sgml
  include/arpa/inet.h
  libsrc/common/ntohl.s
  libsrc/common/ntohs.s
  test/val/lib_common_htonl.c
  test/val/lib_common_htons.c
Labels: enhancement, libs

#2190 optimisation scandisplay
  libsrc/kim1/scandisplay.s
Labels: libs, cleanup, KIM-1

#2196 Added FX registers to cx16.h
  include/cx16.h
Labels: enhancement, libs, CX16

#2195 Added KIM-1 refs
  doc/funcref.sgml
Labels: cleanup, KIM-1

#2188 Serial kernel: Fix driver lifecycle
  doc/funcref.sgml
  libsrc/serial/ser-kernel.s
Labels: bug, libs

#2198 [cc65] Fixed check for conflicting extern vs no-linkage/static declarations in functions
  src/cc65/symtab.c
  test/err/bug2162-none-extern-auto.c
  test/err/bug2162-none-static-extern.c
  test/err/bug2162-static-extern-auto.c
  test/err/bug2162-static-static-extern.c
Labels: bug, cc65

#2202 Update funcref cx16
  doc/funcref.sgml
Labels: enhancement, documentation, CX16
