Repository cc65/cc65, pull requests merged in 2024-10, with the labels that each got.

#2526 Add to rp6502 target: clock(), xregn(), and RIA stack increase
  asminc/rp6502.inc
  include/rp6502.h
  include/time.h
  libsrc/rp6502/clock.c
  libsrc/rp6502/read.c
  libsrc/rp6502/sysrename.c
  libsrc/rp6502/write.c
  libsrc/rp6502/write_xstack.c
  libsrc/rp6502/xregn.c
Labels: enhancement, libs, rp6502

#2525 updated customizing documentation
  doc/customizing.sgml
Labels: documentation

#2524 Fix some issues with preprocessor expressions
  src/cc65/ppexpr.c
  test/err/bug2523.c
  test/val/bug2523.c
Labels: bug, cc65

#2522 Improve generated code for AND/EOR/ORA
  src/cc65/codeent.c
  src/cc65/codeinfo.c
  src/cc65/codeinfo.h
  src/cc65/codeopt.c
  src/cc65/coptind.c
  src/cc65/coptind.h
  src/cc65/coptmisc.c
  src/cc65/coptmisc.h
  test/val/and-eor-ora-optimizations.c
Labels: enhancement, cc65
