Repository cc65/cc65, pull requests merged in 2024-01, with the labels that each got.

#2335 Add routine identifier for Telestrat target
  asminc/telestrat.inc
Labels: enhancement, Telestrat

#2332 Clean-up
  include/rp6502.h
Labels: libs, cleanup

#2333 Update README.md for new target
  README.md
Labels: enhancement, documentation

#2338 Remove non-standard (and useless) include
  include/time.h
Labels: bug, regression, libs

#2331 [cc65] Fixed calling convention parsing in type names and function parameter types
  src/cc65/declare.c
  test/val/bug2327-cconv-type.c
Labels: bug, cc65

#2320 bug 2319 - dont allow -t after input files given
  doc/cl65.sgml
  src/cl65/main.c
Labels: bug, cl65

#2342 Rework time functions a bit
  libsrc/common/_is_leap_year.h
  libsrc/common/_is_leap_year.s
  libsrc/common/_time_t_to_tm.c
  libsrc/common/gmtime.c
  libsrc/common/gmtime.s
  libsrc/common/localtime.s
  libsrc/common/mktime.c
  test/val/lib_common_gmtime_localtime.c
  test/val/lib_common_mktime.c
Labels: enhancement, libs

#2336 Optimize strdup
  libsrc/common/strcspn.s
  libsrc/common/strdup.s
  libsrc/common/strlen.s
  libsrc/common/strspn.s
  test/val/lib_common_strdup.c
Labels: enhancement, libs

#2326 [cc65] Diagnostics
  src/cc65/datatype.c
Labels: bug, cc65

#2325 [cc65] Cleanups
  src/cc65/datatype.c
  src/cc65/datatype.h
  src/cc65/expr.c
  src/cc65/exprdesc.c
  src/cc65/exprdesc.h
  src/cc65/initdata.c
  src/cc65/symtab.c
  src/cc65/typecmp.c
  src/cc65/typeconv.c
  src/cc65/typeconv.h
Labels: cc65, cleanup

#2346 [cc65] Diagnosis fixes
  src/cc65/expr.c
  test/ref/bug1889-missing-identifier.c
  test/ref/bug1889-missing-identifier.cref
  test/ref/custom-reference-error.c
  test/ref/custom-reference-error.cref
Labels: bug, regression, cc65

#2345 [cc65] Fixed regression on comparison to null pointer
  src/cc65/expr.c
  src/cc65/exprdesc.c
  src/cc65/exprdesc.h
  test/val/nullptr.c
Labels: bug, regression, cc65

#2351 mention John Dunning as original author
  README.md
Labels: enhancement, documentation

#2344 [cc65] Cleanup for symbol types and flags
  src/cc65/asmstmt.c
  src/cc65/compile.c
  src/cc65/declare.c
  src/cc65/expr.c
  src/cc65/exprdesc.h
  src/cc65/goto.c
  src/cc65/locals.c
  src/cc65/pragma.c
  src/cc65/symentry.c
  src/cc65/symentry.h
  src/cc65/symtab.c
  src/cc65/symtab.h
Labels: cc65, cleanup

#2359 Fix #2357 - Copy est.size and flags of op when moving it
  src/cc65/coptlong.c
Labels: bug, regression, cc65

#2361 Cleaner instruction updating for long opt
  src/cc65/coptlong.c
Labels: bug, regression, cc65

#2362 Add test case for bug #2357
  test/val/bug2357.c
Labels: Testbench

#2356 Apple2: implement sleep using MONWAIT
  doc/apple2.sgml
  doc/apple2enh.sgml
  doc/funcref.sgml
  include/accelerator.h
  libsrc/apple2/detect_iigs.s
  libsrc/apple2/get_iigs_speed.s
  libsrc/apple2/get_ostype.s
  libsrc/apple2/set_iigs_speed.s
  libsrc/apple2/sleep.s
  libsrc/apple2/wait.s
  libsrc/apple2/waitvsync.s
Labels: enhancement, libs, Apple 2

#2367 [cc65] Fixed segname pragmas right after a function definition
  src/cc65/function.c
Labels: bug, regression, cc65

#2371 Lynx upload fixes for IRQ and configuration
  cfg/lynx-uploader.cfg
  libsrc/lynx/lseek.s
  libsrc/lynx/lynx-cart.s
  libsrc/lynx/uploader.s
Labels: bug, libs, Lynx

#2372 [cc65] Added primitive support for the ISO C99 inline feature as well as the __inline__ extension
  src/cc65/compile.c
  src/cc65/declare.c
  src/cc65/expr.c
  src/cc65/function.c
  src/cc65/locals.c
  src/cc65/scanner.h
  src/cc65/symentry.h
  src/cc65/symtab.c
  test/ref/Makefile
  test/ref/bug1889-missing-identifier.cref
  test/ref/inline-error.c
  test/ref/inline-error.cref
  test/val/inline-func.c
Labels: enhancement, cc65

#2370 [cc65] Fixed visibility of undeclared functions and objects
  src/cc65/compile.c
  src/cc65/symtab.c
  src/cc65/symtab.h
  test/err/bug2304-var-use.c
  test/misc/Makefile
  test/misc/bug2304-implicit-func.c
Labels: bug, cc65

#2354 [cc65] Improved diagnosis
  src/cc65/datatype.c
  src/cc65/datatype.h
  src/cc65/declare.c
  src/cc65/locals.c
  src/cc65/symtab.c
Labels: enhancement, cc65

#2347 [cc65] fixes and enhancements for source file info in diagnosis and debug output
  src/cc65/codeseg.c
  src/cc65/error.c
  src/cc65/error.h
  src/cc65/input.c
  src/cc65/input.h
  src/cc65/lineinfo.c
  src/cc65/lineinfo.h
  src/cc65/preproc.c
Labels: bug, enhancement, cc65

#2377 [cc65] Diagnosis improvements
  src/cc65/declare.c
  src/cc65/function.c
  test/ref/bug1889-missing-identifier.cref
  test/ref/inline-error.c
  test/ref/inline-error.cref
Labels: bug, enhancement, co65

#2368 Add beep for apple2
  doc/apple2.sgml
  doc/apple2enh.sgml
  doc/funcref.sgml
  include/apple2.h
  libsrc/apple2/beep.s
  libsrc/apple2/bell.s
Labels: enhancement, libs, Apple 2

#2348 Convert more time functions to asm
  libsrc/common/_is_leap_year.h
  libsrc/common/_is_leap_year.s
  libsrc/common/_time_t_to_tm.c
  libsrc/common/_time_t_to_tm.s
  libsrc/common/asctime.c
  libsrc/common/asctime.s
  libsrc/common/divt.s
  libsrc/common/mktime.c
  libsrc/common/mktime.s
  test/val/lib_common_gmtime_localtime.c
  test/val/lib_common_mktime.c
Labels: enhancement, libs

#2375 Apple2: Swap in ROM before exec()
  doc/apple2.sgml
  doc/apple2enh.sgml
  libsrc/apple2/crt0.s
Labels: bug, libs, Apple 2

#2379 add a return -1 helper
  libsrc/atari/open.s
  libsrc/cbm/cbm_read.s
  libsrc/cbm/cbm_write.s
  libsrc/common/fclose.s
  libsrc/common/fmisc.s
  libsrc/common/putenv.s
  libsrc/common/ungetc.s
  libsrc/runtime/returnFFFF.s
Labels: enhancement, libs

#2378 Fix malloc and realloc overflow
  libsrc/common/malloc.s
  libsrc/common/realloc.c
  test/val/lib_common_malloc.c
  test/val/lib_common_realloc.c
Labels: bug, libs

#2385 Fixed comment
  libsrc/geos-common/graph/bitotherclip.s
Labels: libs, cleanup, GEOS

#2383 Optimize -36 bytes out of posix_memalign
  libsrc/common/pmemalign.c
  test/val/lib_common_pmemalign.c
Labels: enhancement, libs

#2386 Added link for your interest
  README.md
Labels: enhancement, documentation

#2381 Rewrite fgets in asm
  libsrc/apple2/statvfs.s
  libsrc/common/fgets.c
  libsrc/common/fgets.s
  libsrc/runtime/pushptr1.s
Labels: enhancement, libs

#2382 Rewrite gets in asm
  libsrc/common/gets.c
  libsrc/common/gets.s
  test/ref/test_gets.c
Labels: enhancement, libs

#2384 Rewrite realloc in asm
  libsrc/common/realloc.c
  libsrc/common/realloc.s
Labels: enhancement, libs

#2387 Implement __sysremove for sim65
  libsrc/sim6502/paravirt.s
  src/sim65/paravirt.c
  src/sim65/paravirt.h
  test/ref/test_fgets.c
  test/val/remove.c
Labels: enhancement, sim65
