Repository cc65/cc65, pull requests merged in 2024-07, with the labels that each got.

#2462 Keep gcc-14 from aborting with errors due to new defaults.
  test/ref/Makefile
Labels: bug, Testbench

#2448 Commander X16 640x480 tgi loadable graphics driver
  doc/cx16.sgml
  libsrc/cx16/tgi/cx640p1.s
Labels: enhancement, libs, CX16

#2463 Test strtok().
  test/val/strtok.c
Labels: enhancement, Testbench

#2464 Add stpcpy().
  include/string.h
  libsrc/common/stpcpy.c
  test/val/stpcpy.c
Labels: enhancement, libs

#2468 Fixed #2459
  libsrc/atari7800/joy/atari7800-stdjoy.s
Labels: enhancement, libs, 7800

#2466 Make document human-readable and split out name clashes section.
  Contributing.md
  libsrc/NameClashes.md
Labels: documentation, cleanup
