Repository cc65/cc65, pull requests merged in 2024-11, with the labels that each got.

#2528 checkversion.c fix missing shifts
  samples/checkversion.c
Labels: bug, Samples

#2533 Apple2: Rewrite opendir in assembly
  libsrc/apple2/dir.inc
  libsrc/apple2/opendir.c
  libsrc/apple2/opendir.s
Labels: enhancement, libs, Apple 2

#2478 Lynx cc65 and ca65 include file improvements for Mikey and Suzy
  asminc/lynx.inc
  include/_mikey.h
  include/_suzy.h
  include/lynx.h
Labels: enhancement, need info / extra work, Atari, Lynx

#2538 [LD65] Add bank number to `seg` entries in dbgfile
  src/dbginfo/dbginfo.c
  src/dbginfo/dbginfo.h
  src/dbginfo/dbgsh.c
  src/ld65/segments.c
Labels: enhancement, ld65
