Repository cc65/cc65, pull requests merged in 2024-09, with the labels that each got.

#2497 Fix issue #2044
  src/ld65/config.c
  src/ld65/exports.c
Labels: bug, ld65

#2496 Fix macro preprocessing for #include
  src/cc65/preproc.c
  test/val/bug2458.c
  test/val/bug2458.h
Labels: bug, cc65

#2492 Allow alternative names for pragmas that contain underlines instead of dashes
  doc/cc65.sgml
  src/cc65/pragma.c
  test/val/pragmas.c
Labels: bug, ca65

#2493 Fix issue #1663.
  src/ca65/condasm.c
Labels: bug, ca65

#2491 Fix issue #2431
  src/cc65/scanner.c
Labels: cc65

#2495 Generate shorter code for main() in some cases
  src/cc65/codegen.c
  src/cc65/codegen.h
  src/cc65/function.c
  src/cc65/locals.c
Labels: enhancement, cc65

#2498 Fix .include within .macro/.repeat
  src/ca65/istack.c
  src/ca65/istack.h
  src/ca65/scanner.c
  test/asm/listing/070-include-macro.inc
  test/asm/listing/070-include-macro.s
  test/asm/listing/070-include-repeat.inc
  test/asm/listing/070-include-repeat.s
  test/asm/listing/ref/070-include-macro.err-ref
  test/asm/listing/ref/070-include-repeat.err-ref
Labels: bug, ca65

#2500 Improve the usage output for the '-W' option
  doc/cc65.sgml
  src/cc65/main.c
Labels: bug, cc65

#2499 Disallow recursive calls to main() in cc65 mode
  doc/cc65.sgml
  src/cc65/codegen.c
  src/cc65/codegen.h
  src/cc65/expr.c
  src/cc65/function.c
  src/cc65/locals.c
  targettest/atari/mem.c
  targettest/pce/conio.c
  targettest/scanf-test.c
  test/ref/custom-reference-error.c
  test/val/nullptr.c
Labels: bug, cc65

#2511 In time(), set the clock id to CLOCK_REALTIME when calling clock_gettime.
  asminc/time.inc
  libsrc/common/time.s
Labels: bug, libs

#2512 Warn for braces around a pointer initializer
  src/cc65/initdata.c
  test/ref/bug2134.c
  test/ref/bug2134.cref
Labels: bug, cc65

#2510 Faster waitvsync
  libsrc/c128/waitvsync.s
  libsrc/pet/waitvsync.s
Labels: enhancement, libs

#2509 Remove explicit keyword
  include/atari.h
  include/atari5200.h
  include/atari7800.h
Labels: cleanup, Atari

#2508 [ATMOS] waitvsync
  doc/funcref.sgml
  include/atmos.h
  libsrc/atmos/waitvsync.s
Labels: enhancement, libs, Atmos

#2503 Optimize stpcpy's size and speed
  libsrc/common/stpcpy.c
  libsrc/common/stpcpy.s
  libsrc/common/strcpy.s
  test/val/stpcpy.c
Labels: enhancement, libs

#2502 Fix issue #2461
  src/cc65/codeoptutil.c
  test/val/bug2461.c
Labels: bug, cc65

#2517 Improved/fixed the time() function
  libsrc/common/time.s
  test/val/time-test2.c
Labels: bug, libs

#2518 Fix minor preprocessor problems
  src/cc65/preproc.c
Labels: bug, cc65

#2513 Remove casts from stdint.h
  include/stdint.h
  test/standard/stdint.c
Labels: bug, libs

#2516 Make lastline.sh ignore empty files
  .github/checks/lastline.sh
Labels: bug, buildsystem

#2521 Fix wrong evaluation of ternary expressions in the preprocessor
  src/cc65/ppexpr.c
  test/val/bug2520.c
Labels: bug, cc65
