Repository cc65/cc65, pull requests merged in 2024-02, with the labels that each got.

#2398 [cc65] Fixed optimization for char-size bitwise XOR/OR/AND when the rhs operand is complicated
  src/cc65/coptstop.c
  test/val/bug2395.c
Labels: bug, regression, cc65

#2389 Fix #2388
  test/ref/test_gets.c
Labels: bug, Testbench

#2392 Asm fputc fputs
  libsrc/common/checkferror.s
  libsrc/common/fgetc.s
  libsrc/common/fgets.s
  libsrc/common/fputc.c
  libsrc/common/fputc.s
  libsrc/common/fputs.c
  libsrc/common/fputs.s
  test/ref/test_fputc.c
  test/ref/test_fputs.c
Labels: enhancement, libs

#2390 Implement aslax7/shlax7/asrax7/shrax7
  libsrc/runtime/aslax7.s
  libsrc/runtime/asrax7.s
  libsrc/runtime/shrax7.s
  src/cc65/codegen.c
  src/cc65/codeinfo.c
  test/val/lib_runtime_aslax7.c
  test/val/lib_runtime_asrax7.c
  test/val/lib_runtime_shlax7.c
  test/val/lib_runtime_shrax7.c
Labels: enhancement, libs

#2402 a BIT of 65C02 optimisations
  libsrc/common/_printf.s
  libsrc/common/fgetc.s
  libsrc/common/fread.s
  libsrc/common/fwrite.s
  test/ref/test_fread.c
Labels: enhancement, libs

#2401 Enable Windows tests on pull requests
  .github/workflows/build-on-pull-request.yml
Labels: enhancement, buildsystem

#2410 Improvements and fixes in serial support for Atari Lynx
  asminc/lynx.inc
  libsrc/lynx/crt0.s
  libsrc/lynx/ser/lynx-comlynx.s
  libsrc/lynx/uploader.s
Labels: enhancement, libs, Lynx

#2416 Allow choosing 115200bps as the card allows it
  doc/apple2.sgml
  doc/apple2enh.sgml
  libsrc/apple2/ser/a2.ssc.s
Labels: enhancement, libs, Apple 2

#2417 IIgs SCC: Allow choosing 115200bps as the card allows it
  libsrc/apple2/ser/a2.gs.s
Labels: enhancement, libs, Apple 2
