Repository cc65/cc65, pull requests merged in 2024-03, with the labels that each got.

#2423 [cc65] Fixed the error recovery integer type used for bit-fields
  src/cc65/declare.c
Labels: bug, cc65

#2422 [cc65] Fixed potential errors with subtraction evaluation of identifiers at different memory locations
  src/cc65/expr.c
Labels: bug, cc65

#2334 [SIM65] Support undocumented opcodes for 6502
  asminc/cpu.mac
  libsrc/sim6502/exehdr.s
  src/sim65/6502.c
  src/sim65/6502.h
  src/sim65/main.c
Labels: enhancement, sim65

#2424 [cc65] Cleanups in src/cc65/declare.c
  src/cc65/declare.c
Labels: cc65, cleanup
