Repository cc65/cc65, pull requests merged in 2024-12, with the labels that each got.

#2551 Fixed wrong clearing of D-flag on interrupts for sim65 with 6502X CPU.
  src/sim65/6502.c
Labels: bug, sim65

#2547 Fixed the behavior of JMP (ind) in sim65 when it runs with the 6502X CPU type.
  src/sim65/6502.c
Labels: bug, sim65

#2548 Fixed clock-cycle timing of branch (Bxx) instructions.
  src/sim65/6502.c
Labels: bug, sim65

#2550 Fixed behavior of the 65C02 "BIT #imm" instruction in sim65.
  src/sim65/6502.c
Labels: bug, sim65

#2553 Sim65: removed ZR register from CPURegs type.
  src/sim65/6502.h
Labels: sim65, cleanup

#2555 sim65: changing memory access types to uint8_t and uint16_t.
  src/sim65/memory.c
  src/sim65/memory.h
Labels: enhancement, sim65

#2557 sim65 : improve implementation of ROL and ROR operations
  src/sim65/6502.c
Labels: enhancement, sim65

#2561 Fix typo in ca65 doc
  doc/ca65.sgml
Labels: documentation, cleanup

#2560 Improve description of namespace access in ca65
  doc/ca65.sgml
Labels: documentation, cleanup

#2558 Clean-up preprocessor syntax
  doc/cc65.sgml
  libsrc/common/strftime.c
  samples/cbm/fire.c
  samples/cbm/plasma.c
  samples/geos/overlay-demo.c
  samples/lynx/mandelbrot.c
  samples/mandelbrot.c
  samples/multidemo.c
  samples/overlaydemo.c
  samples/sieve.c
Labels: documentation, Samples, cleanup

#2563 sim65: fixed ADC/SBC for the 65C02.
  src/sim65/6502.c
Labels: bug, sim65

#2564 sim65: simulated CPU registers can be accessed from outside 6502.c.
  src/sim65/6502.c
  src/sim65/6502.h
Labels: enhancement, sim65

#2567 sim65: fix memory access order of the JSR instruction.
  src/sim65/6502.c
Labels: bug, sim65

#2568 sim65: changes constant of the unstable "ANE" instruction.
  src/sim65/6502.c
Labels: enhancement, sim65

#2572 sim65: implemented missing 65C02 instructions
  src/sim65/6502.c
Labels: enhancement, sim65

#2573 sim65: properly implement 5 'illegal' 6502X opcodes.
  src/sim65/6502.c
Labels: enhancement, sim65

#2576 sim65: Fix instruction timings for 6502 and 65C02.
  src/sim65/6502.c
Labels: bug, sim65

#2580 Fixed style issues in sim65 code.
  src/sim65/6502.c
Labels: sim65, cleanup

#2577 sim65: add memory-mapped cycle/instruction/wallclock timer.
  cfg/sim6502.cfg
  cfg/sim65c02.cfg
  doc/sim65.sgml
  src/sim65.vcxproj
  src/sim65/6502.c
  src/sim65/error.c
  src/sim65/main.c
  src/sim65/memory.c
  src/sim65/peripherals.c
  src/sim65/peripherals.h
Labels: enhancement, sim65
