Repository cc65/cc65, pull requests merged in 2025-05, with the labels that each got.

#2635 issue #2633 print unambiguous success message
  test/Makefile
Labels: enhancement, buildsystem

#2639 fixes issue #2637
  src/cc65/preproc.c
  test/misc/Makefile
  test/misc/bug2637.c
  test/misc/bug2637.ref
Labels: bug, cc65

#2610 conform to 6.4.4.4 for hex and octal escapes
  src/cc65/litpool.c
  src/cc65/litpool.h
  src/cc65/scanner.c
  src/cc65/scanner.h
  src/common/strbuf.c
  src/common/strbuf.h
  src/common/tgttrans.c
  test/val/bug2609.c
  test/val/bug2610.c
Labels: bug, cc65

#2636 issue #2607, enable '\e' character escape for --standard cc65
  doc/cc65.sgml
  src/cc65/scanner.c
  test/Makefile
  test/readme.txt
  test/standard/issue2607_cc65.c
  test/standard_err/Makefile
  test/standard_err/issue2607_not_cc65.c
Labels: enhancement, cc65

#2644 Add additional video modes that were added in ROM Pre Release 43 on CX16
  include/cx16.h
  libsrc/cx16/videomode.s
Labels: enhancement, libs, CX16

#2648 Fixed a typo in Granularity
  src/da65/attrtab.c
Labels: cc65, cleanup

#2654 Fix missing warning for non void functions without a return statement
  src/cc65/function.c
Labels: bug, cc65

#2652 zlib: Make crc32 8 bytes shorter and 3 cycles/byte faster
  libsrc/zlib/crc32.s
Labels: enhancement, libs

#1810 conio peek for Atari, Atmos, NES, OSIC1P
  include/atmos.h
  libsrc/atari/cpeekc.s
  libsrc/atari/cpeekcolor.s
  libsrc/atari/cpeekrevers.s
  libsrc/atmos/cpeekc.s
  libsrc/atmos/cpeekcolor.s
  libsrc/atmos/cpeekrevers.s
  libsrc/atmos/cpeeks.s
  libsrc/nes/color.s
  libsrc/nes/cpeekc.s
  libsrc/nes/cpeekcolor.s
  libsrc/nes/cpeekrevers.s
  libsrc/osic1p/cpeekc.s
  libsrc/osic1p/cpeekcolor.s
  libsrc/osic1p/cpeekrevers.s
  libsrc/pce/cpeekc.s
  libsrc/pce/cpeekcolor.s
  libsrc/pce/cpeekrevers.s
  libsrc/pce/cpeeks.s
  targettest/Makefile
  targettest/conio.c
Labels: enhancement, need info / extra work, libs

#2485 Add Plus/4 wrapper for KERNAL's GETIN.
  libsrc/plus4/kgetin.s
Labels: enhancement, Plus 4

#2662 Apple2: automatically enable lowercase starting from //e
  libsrc/apple2/allow_lowercase.s
  libsrc/apple2/uppercasemask.s
Labels: enhancement, libs, Apple 2

#2663 Apple2: Don't depend on apple2enh definition for keys the //e has
  include/apple2.h
  include/apple2enh.h
  libsrc/apple2/cgetc.s
Labels: enhancement, libs, Apple 2
