Repository cc65/cc65, pull requests merged in 2025-01, with the labels that each got.

#2570 Test to demonstrate issue #2566.
  test/todo/bug2566.c
Labels: bug, cc65

#2592 Fix a field alignment bug
  src/cc65/assignment.c
  test/val/bug2566.c
Labels: bug, cc65

#2559 Fixed colour #2540
  include/cbm264.h
Labels: bug, libs, Plus 4

#2595 Fixed typo in color symbol definition.
  include/cbm264.h
Labels: bug, libs, C64

#2593 sim65: add C/assembly support, docs, and samples for the new peripheral functionality.
  asminc/sim65.inc
  cfg/sim6502.cfg
  cfg/sim65c02.cfg
  doc/sim65.sgml
  include/sim65.h
  samples/sim65/cpumode_example.c
  samples/sim65/timer_example.c
  samples/sim65/trace_example.c
Labels: enhancement, documentation, Samples, sim65

#2598 Apple II: Make memory between the end of the text screen and the start of the loaded program available to the linker.
  cfg/apple2-hgr.cfg
  cfg/apple2-overlay.cfg
  cfg/apple2-system.cfg
  cfg/apple2.cfg
  cfg/apple2enh-hgr.cfg
  cfg/apple2enh-overlay.cfg
  cfg/apple2enh-system.cfg
  cfg/apple2enh.cfg
Labels: enhancement, libs, Apple 2

#2587 Rewrite rewind() in assembly,add lseek() to paravirt
  libsrc/common/rewind.c
  libsrc/common/rewind.s
  libsrc/sim6502/paravirt.s
  src/sim65/paravirt.c
  src/sim65/paravirt.h
  test/ref/test_fread.c
  test/ref/test_fseek.c
  test/ref/test_rewind.c
Labels: enhancement, libs
