Repository cc65/cc65, pull requests merged in 2025-06, with the labels that each got.

#2664 Apple2: check machinetype for waitvsync and a2_lo_tgi
  doc/funcref.sgml
  include/apple2.h
  include/apple2enh.h
  libsrc/apple2/tgi/a2.lo.s
  libsrc/apple2/waitvsync.s
Labels: enhancement, libs, Apple 2

#2673 fixes #2666, double charmap of char literals
  src/ca65/scanner.c
Labels: bug, regression, cc65

#2683 fix bsearch tables
  src/ca65/instr.c
  src/ca65/scanner.c
  src/cc65/codeinfo.c
  src/cc65/codeopt.c
  src/cc65/codeoptutil.c
  src/cc65/coptstop.c
  src/cc65/opcodes.c
  src/cc65/pragma.c
  src/cc65/preproc.c
  src/cc65/scanner.c
  src/cc65/stdfunc.c
  src/common/filetype.c
  src/common/target.c
  src/dbginfo/dbginfo.c
  src/sp65/convert.c
  src/sp65/input.c
  src/sp65/output.c
  src/sp65/palconv.c
Labels: bug, cc65, ca65, cleanup

#2690 fixes #2608
  src/cc65/pragma.c
  test/val/bug2151.c
  test/val/bug2608.c
Labels: bug, cc65

#2697 add dbginfo to src/Makefile, add building dbginfo example to CI.
  .github/workflows/build-on-pull-request.yml
  Makefile
  src/Makefile
Labels: enhancement, buildsystem

#2684 simple script(s) to check if bsearch tables are sorted correctly
  .github/checks/Makefile
  .github/checks/sorted.sh
  .github/checks/sorted_codeopt.sh
  .github/checks/sorted_opcodes.sh
  .github/workflows/build-on-pull-request.yml
  .github/workflows/snapshot-on-push-master.yml
  Makefile
  src/ca65/instr.c
  src/ca65/scanner.c
  src/cc65/codeinfo.c
  src/cc65/codeopt.c
  src/cc65/codeoptutil.c
  src/cc65/coptstop.c
  src/cc65/opcodes.c
  src/cc65/pragma.c
  src/cc65/preproc.c
  src/cc65/scanner.c
  src/cc65/stdfunc.c
  src/common/filetype.c
  src/common/target.c
  src/dbginfo/dbginfo.c
  src/sp65/convert.c
  src/sp65/input.c
  src/sp65/output.c
  src/sp65/palconv.c
Labels: enhancement, buildsystem

#2701 Make sure pid and counter don't interfere
  src/common/fname.c
Labels: bug, cl65

#2702 added repro cases from #2172 as tests
  test/todo/bug2172_invalid_code.c
  test/todo/bug2172b_invalid_code.c
Labels: enhancement, Testbench

#2703 add test for #2110
  test/standard/null.c
Labels: enhancement, Testbench

#2693 Apple2: Setup IRQ/RST vectors in LC if needed
  asminc/apple2.inc
  doc/apple2.sgml
  doc/apple2enh.sgml
  libsrc/apple2/crt0.s
Labels: bug, libs

#2709 added reporting of fatal/error/warning/note location generation with …
  src/cc65/error.c
  src/cc65/error.h
Labels: enhancement, cc65

#967 TGI driver and IRQ-handler fix for plus4
  cfg/plus4-hires.cfg
  doc/plus4.sgml
  include/cbm264.h
  include/plus4.h
  libsrc/plus4/cgetc.s
  libsrc/plus4/crt0.s
  libsrc/plus4/libref.s
  libsrc/plus4/ser/plus4-stdser.s
  libsrc/plus4/tgi/ted-hi.s
  libsrc/plus4/tgi_stat_stddrv.s
  libsrc/plus4/tgi_stddrv.s
  samples/Makefile
  samples/tgidemo.c
Labels: enhancement, libs

#2712 fix/add missing .ifp02x and .p02x pseudo ops, update test
  doc/ca65.sgml
  src/ca65/condasm.c
  src/ca65/pseudo.c
  src/ca65/scanner.c
  src/ca65/token.h
  test/asm/cpudetect/6502x-cpudetect.ref
  test/asm/cpudetect/cpudetect.s
Labels: enhancement, ca65

#2713 don't make script choke with more than 9 tables
  .github/checks/sorted.sh
  .github/checks/sorted_codeopt.sh
  .github/checks/sorted_opcodes.sh
Labels: bug, buildsystem

#2675 added information to Makefile output
  Makefile
  doc/Makefile
  libsrc/Makefile
  samples/Makefile
  samples/apple2/Makefile
  samples/atari2600/Makefile
  samples/atari5200/Makefile
  samples/cbm/Makefile
  samples/disasm/Makefile
  samples/gamate/Makefile
  samples/geos/Makefile
  samples/geos/grc/Makefile
  samples/kim1/Makefile
  samples/lynx/Makefile
  samples/sim65/Makefile
  samples/supervision/Makefile
  samples/sym1/Makefile
  samples/tutorial/Makefile
  src/Makefile
  targettest/Makefile
  targettest/accelerator/Makefile
  targettest/atari/Makefile
  targettest/cbm/Makefile
  targettest/gamate/Makefile
  targettest/pce/Makefile
  test/Makefile
  test/asm/Makefile
  test/asm/cpudetect/Makefile
  test/asm/err/Makefile
  test/asm/listing/Makefile
  test/asm/misc/Makefile
  test/asm/opcodes/Makefile
  test/asm/val/Makefile
  test/dasm/Makefile
  test/err/Makefile
  test/misc/Makefile
  test/ref/Makefile
  test/standard/Makefile
  test/standard_err/Makefile
  test/todo/Makefile
  test/val/Makefile
  util/Makefile
  util/atari/Makefile
  util/gamate/Makefile
  util/zlib/Makefile
Labels: enhancement, buildsystem

#2719 Remove useless code
  libsrc/apple2/tgi/a2.hi.s
Labels: enhancement, libs, Apple 2

#2720 fixes #2714
  src/cl65/main.c
Labels: bug, cl65

#2707 m740 Support
  asminc/cpu.mac
  doc/ca65.sgml
  doc/da65.sgml
  src/ca65/condasm.c
  src/ca65/ea65.c
  src/ca65/instr.c
  src/ca65/instr.h
  src/ca65/pseudo.c
  src/ca65/scanner.c
  src/ca65/token.h
  src/da65/handler.c
  src/da65/handler.h
  src/da65/opc6502x.c
  src/da65/opcm740.c
  test/asm/cpudetect/allinst.inc
  test/asm/cpudetect/cpudetect.s
  test/asm/cpudetect/m740-cpudetect.ref
  test/asm/opcodes/m740-opcodes.ref
  test/asm/opcodes/m740-opcodes.s
Labels: enhancement, ca65, da65

#2711 TGI Documentation and Comments fix
  doc/tgi.sgml
  include/tgi.h
  libsrc/apple2/tgi_colors.s
  libsrc/common/tgi_colors.s
  libsrc/lynx/tgi_colors.s
  libsrc/tgi/tgi-kernel.s
  libsrc/tgi/tgi_getcolor.s
  libsrc/tgi/tgi_setcolor.s
Labels: libs, documentation, cleanup

#2710 Fix wrong file offset handling for a memory area with only run segments written to a file
  src/ld65/config.c
Labels: bug, ld65

#2742 Allow "sp" as an alias for "c_sp" to avoid breaking old code
  .github/checks/Makefile
  .github/checks/checksp.sh
  .github/workflows/build-on-pull-request.yml
  Makefile
  asminc/zeropage.inc
  libsrc/runtime/sp-compat.s
  test/asm/listing/080-sp-compat.s
  test/asm/listing/ref/080-sp-compat.ld65err2-ref
Labels: libs, Testbench

#2745 Apple2: Fix permanently disabled IRQ
  libsrc/apple2/crt0.s
Labels: bug, libs, Apple 2

#2743 Do not read a file twice if it has an include guard
  src/cc65/input.c
  src/cc65/input.h
  src/cc65/preproc.c
  src/cc65/preproc.h
Labels: enhancement, cc65

#2755 Some more Makefile woes
  Makefile
  src/Makefile
  targettest/Makefile
  test/asm/cpudetect/Makefile
  test/asm/err/Makefile
  test/asm/listing/Makefile
  test/asm/misc/Makefile
  test/asm/opcodes/Makefile
  test/asm/val/Makefile
  test/dasm/Makefile
  test/err/Makefile
  test/misc/Makefile
  test/ref/Makefile
  test/standard/Makefile
  test/standard_err/Makefile
  test/todo/Makefile
  test/val/Makefile
Labels: enhancement, buildsystem
