Repository cc65/cc65, pull requests merged in 2025-07, with the labels that each got.

#2763 Make the scrcode macros handle identifiers
  asminc/apple2.mac
  asminc/atari.mac
  asminc/cbm.mac
Labels: bug, libs

#2762 Change notification message used when pointing to the macro an error comes from
  src/ca65/error.c
  test/asm/listing/ref/010-paramcount.err2-ref
Labels: ca65, cleanup

#2767 Remove invalid characters from labels in the VICE label file
  src/ld65/dbgsyms.c
  src/ld65/exports.c
  src/ld65/exports.h
Labels: bug, ld65

#2769 Add strndup
  doc/funcref.sgml
  include/string.h
  libsrc/common/strndup.s
  test/val/lib_common_strlen.c
  test/val/lib_common_strndup.c
  test/val/lib_common_strnlen.c
Labels: enhancement, libs

#2759 Fixed #1970 (Missing definition for ST on cbm610 with getdevice) (was #1972)
  asminc/cbm510.inc
  asminc/cbm610.inc
  asminc/pet.inc
  libsrc/c128/crt0.s
  libsrc/c128/status.s
  libsrc/c16/crt0.s
  libsrc/c64/crt0.s
  libsrc/c64/status.s
  libsrc/c65/status.s
  libsrc/cbm/getdevice.s
  libsrc/cbm510/kreadst.s
  libsrc/cbm510/ksetnam.s
  libsrc/cbm510/status.s
  libsrc/cbm610/crt0.s
  libsrc/cbm610/kreadst.s
  libsrc/cbm610/ksetnam.s
  libsrc/cbm610/status.s
  libsrc/mega65/status.s
  libsrc/pet/checkst.s
  libsrc/pet/crt0.s
  libsrc/pet/kreadst.s
  libsrc/pet/status.s
  libsrc/plus4/crt0.s
  libsrc/plus4/kreadst.s
  libsrc/plus4/status.s
  libsrc/vic20/crt0.s
  libsrc/vic20/status.s
  samples/Makefile
Labels: bug, libs

#2766 CoC draft
  Code_of_Conduct.md
Labels: enhancement, documentation

#2780 remove .macpack cpu, fixes #2779
  asminc/opcodes.inc
Labels: bug, libs

#2782 Use "static inline" instead of macros in the source
  src/ca65/segment.h
  src/ca65/span.h
  src/ca65/spool.h
  src/ca65/symentry.h
  src/ca65/symtab.h
  src/ca65/token.h
  src/cc65/casenode.h
  src/cc65/codeent.h
  src/cc65/codelab.h
  src/cc65/codeseg.h
  src/cc65/datatype.c
  src/cc65/datatype.h
  src/cc65/exprdesc.c
  src/cc65/exprdesc.h
  src/cc65/macrotab.h
  src/cc65/opcodes.h
  src/cc65/preproc.c
  src/cc65/reginfo.c
  src/cc65/reginfo.h
  src/cc65/scanner.h
  src/cc65/symentry.h
  src/common/alignment.h
  src/common/chartype.h
  src/common/coll.c
  src/common/coll.h
  src/common/hashtab.h
  src/common/inline.h
  src/common/intptrstack.h
  src/common/intstack.h
  src/common/strbuf.c
  src/common/strbuf.h
  src/common/strstack.h
  src/ld65/fragment.h
  src/ld65/lineinfo.h
  src/ld65/objdata.h
  src/ld65/spool.h
  src/ld65/tpool.h
Labels: cc65, cleanup

#2774 Somedocs
  doc/ca65.sgml
  doc/cc65.sgml
Labels: enhancement, documentation

#2790 add missing command line details, sort options
  doc/ca65.sgml
Labels: enhancement, documentation

#2791 Fix2789
  src/ca65/pseudo.c
  test/asm/val/charmap.s
Labels: bug, ca65

#2795 Fix an error in the sort check scripts.
  .github/checks/sorted.sh
  .github/checks/sorted_codeopt.sh
  .github/checks/sorted_opcodes.sh
  src/cc65/codeopt.c
Labels: bug, buildsystem

#2803 Add a description for --memory-model to the docs
  doc/cc65.sgml
  src/cc65/main.c
Labels: bug, cc65

#2805 Remove .s files generated from .grc files
  samples/Makefile
Labels: buildsystem, Samples, cleanup

#2808 Simple flow analysis to find unreachable code
  libsrc/common/getopt.c
  src/cc65/error.c
  src/cc65/error.h
  src/cc65/function.c
  src/cc65/goto.c
  src/cc65/goto.h
  src/cc65/lineinfo.h
  src/cc65/stmt.c
  src/cc65/stmt.h
  src/cc65/swstmt.c
  src/cc65/swstmt.h
  src/cc65/testexpr.c
  src/cc65/testexpr.h
  test/misc/Makefile
  test/misc/bug2655.ref
  test/misc/flow-do-01.c
  test/misc/flow-do-01.ref
  test/misc/flow-if-01.c
  test/misc/flow-if-01.ref
  test/misc/flow-if-02.c
  test/misc/flow-if-02.ref
  test/misc/flow-switch-01.c
  test/misc/flow-switch-01.ref
  test/misc/flow-while-01.c
  test/misc/flow-while-01.ref
  test/misc/flow-while-02.c
  test/misc/flow-while-02.ref
  test/misc/goto.ref
Labels: enhancement, cc65

#2814 telestrat target : lseek now returns position as it should
  libsrc/telestrat/lseek.s
Labels: bug, libs, Telestrat

#2811 Optimize jsr ldax0sp/incsp2
  src/cc65/codeent.h
  src/cc65/codeopt.c
  src/cc65/coptmisc.c
  src/cc65/coptmisc.h
Labels: enhancement, cc65, Optimizer

#2812 Optimize ldax?sp/sta/stx to ldptr1?sp
  libsrc/runtime/ldptr1sp.s
  src/cc65/codeinfo.c
  src/cc65/codeopt.c
  src/cc65/coptptrload.c
  src/cc65/coptptrload.h
Labels: enhancement, cc65, libs, Optimizer

#2794 Fixgrc
  cfg/geos-cbm.cfg
  samples/geos/Makefile
  src/grc65/main.c
Labels: bug, grc65
